.MedewerkersPortaalBox {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1000px;
  width: 1500px;
  margin-bottom: 5%;
}

.MedewerkersPortaalWrapper{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.MedewerkersPortaalWrapper .MedewerkersPortaalTitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
}
.MedewerkersPortaalContentBox {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  margin-top: 2%;
  
}

.MedewerkersPortaalContentWrapper {
  width: 400px;
  height: 300px;
  margin: 3%;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
}
.MedewerkersPortaalContentWrapper .MedewerkersPortaalContentTitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
}

.MedewerkersPortaalField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MedewerkersPortaalWrapper .MedewerkersPortaalField{
  height: 50px;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.MedewerkersPortaalWrapper .MedewerkersPortaalField button{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.MedewerkersPortaalWrapper .MedewerkersPortaalField button:focus,
.MedewerkersPortaalField button:valid{
  border-color: #e6b800;
}
.MedewerkersPortaalWrapper .MedewerkersPortaalField label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.MedewerkersPortaalField button:focus ~ label,
.MedewerkersPortaalField button:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #e6b800;
  background: #fff;
  transform: translateY(-50%);
}

.MedewerkersPortaalField button[type="submit"]{
  color: rgb(0, 0, 0);
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}