.Agenda {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .AgendaProgramma {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-bottom: 5%;
  }
  
  .AgendaProgramma img {
    width: 240px;
    height: 180px;
    border-radius: 5%;
  }