.Agenda {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 2%;

}

.AgendaProgramma {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
}

.AgendaProgramma img {
  width: 240px;
  height: 160px;
  border-radius: 5%;
}
.roundCorners{
  padding-top: 2%;
  height: 600px;
  width: 1000px;
  background: #333333;
  border-radius: 2%;
}
.Agendascrollbar {
  height: 95%;
  overflow-y: scroll;
  scroll-behavior:smooth;
  color: #ffffff;
}

#Agendawrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow:0 0 8px #333333 inset;

}

#style-6::-webkit-scrollbar {
  width: 12px;
  background-color: #333333;
  border-radius: 30%;

}

#style-6::-webkit-scrollbar-thumb{
  background-color:#ff0007;
  border:1px solid #333333;
  border-radius:12px;
}
#style-6::-webkit-scrollbar-thumb:hover{
  background-color:#ff0006;
  border:1px solid #333333;
}
#style-6::-webkit-scrollbar-thumb:active{
  background-color:#ff0009;
  border:1px solid #333333;
}
#style-6::-webkit-scrollbar-corner{
  background-color:#ff0009;
  border:1px solid #333333;
  border-radius: 30%;
}