.Agenda {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 2%;

}

.VoorstellingenOphalen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

.VoorstellingenShow {
  
}

.VoorstellingenShow img {
  width: 250px;
  height: 150px;
  border-radius: 5%;
}

.VoorstellingenDatum {
  width: 200px;
}

.VoorstellingenTijd {
  width: 50px;
}

.VoorstellingenZaal {
  width: 100px;
}

.VoorstellingenButton {
  border: none;
  color: #fff;
  padding: 20px 40px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.AgendaRoundCorners{
  padding-top: 2%;
  height: 600px;
  width: 1000px;
  background: #333333;
  border-radius: 2%;
}

.AgendaScrollbar {
  height: 95%;
  overflow-y: scroll;
  scroll-behavior:smooth;
  color: #ffffff;
}

#AgendaWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow:0 0 8px #333333 inset;
  border-radius: 30%;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #333333;
  border-radius: 30%;
}

#style-1::-webkit-scrollbar-thumb{
  background-color:#ad0000;
  border:1px solid #333333;
  border-radius:12px;
}
#style-1::-webkit-scrollbar-thumb:hover{
  background-color:#e6b800;
  border:1px solid #333333;
}
#style-1::-webkit-scrollbar-thumb:active{
  background-color:#e6b800;
  border:1px solid #333333;
}

.VoorstellingenButton{
  cursor: pointer;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
  transition: all 0.3s ease;
}

.VoorstellingenButton:active{
  transform: scale(0.95);
}

.VoorstellingenButton:hover{
  transform: scale(0.95);
  background:#e6b800;
}