.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    }

    .disclaimer-title {
    align-self: center;
    width: 80%;
    padding: 0 5%;
    }

    .disclaimer-text {
    width: 80%;
    padding: 0 5%;
    align-self: center;
    }

    .disclaimer-info {
    display: inline;
    text-align: center;
    }