.ZalenBeherenBox {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 1000px;
  width: 1500px;
  margin-bottom: 5%;
}

.ZalenBeherenWrapper{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.ZalenBeherenWrapper .ZalenBeherenTitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
}
.ZalenBeherenContentBox {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  margin-top: 2%;
  
}
.ZalenBeherenContentWrapper {
  width: 1200px;
  height: 700px;
  margin: 3%;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
  margin-bottom: 5%;
}
.ZalenBeherenContentWrapper .ZalenBeherenContentTitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
}

.ZalenBeherenField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.ZalenBeherenWrapper .ZalenBeherenField{
  width: 100%;
  margin-top: 5%;
  position: relative;
}
.ZalenBeherenWrapper .ZalenBeherenField button{
  outline: none;
  font-size: 17px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}
.ZalenBeherenWrapper .ZalenBeherenField button:focus,
.ZalenBeherenField button:valid{
  border-color: #e6b800;
}
.ZalenBeherenWrapper .ZalenBeherenField label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.ZalenBeherenField button:focus ~ label,
.ZalenBeherenField button:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #e6b800;
  background: #fff;
  transform: translateY(-50%);
}

.ZalenBeherenField button[type="submit"]{
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ZalenBeherenRoundCorners{
  height: 500px;
  width: 1100px;
  border-radius: 2%;
  margin-left: 5%;
}

.ZalenBeherenScrollbar {
  height: 95%;
  overflow-y: scroll;
  scroll-behavior:smooth;
  color: #000000;
}

.ZalenBeherenFieldTitle{
  text-align: center;
}

#ZalenBeherenWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#style-3::-webkit-scrollbar-track {
  border-radius: 30%;
}

#style-3::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}

#style-3::-webkit-scrollbar-thumb{
  background-color:#ad0000;
  border:1px solid #333333;
  border-radius:12px;
}
#style-3::-webkit-scrollbar-thumb:hover{
  background-color:#e6b800;
  border:1px solid #333333;
}
#style-3::-webkit-scrollbar-thumb:active{
  background-color:#e6b800;
  border:1px solid #333333;
}

.ZalenBeherenButton{
  cursor: pointer;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
  transition: all 0.3s ease;
  padding: 20px 40px;
}
.ZalenBeherenButton:active{
  transform: scale(0.95);
}
.ZalenBeherenButton:hover{
  transform: scale(0.95);
  background: #e6b800;
}

.ZalenBeherenInfo {
  
}