@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Navigation */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-top: 5%;
}
.logo {
    width: 40px;

}
.navbar {
    background-color: white;
    color: #fff;
    display: flex;

    justify-content: space-between;

    transition: background-color 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1); /* Adjust the box shadow */

}

  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    list-style: none;
  }
  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding:0px 15px;
    display: inline-block;
    transition: all 0.3s;
}

  .navbar a:hover {
    color: #e6b800; /* Set the hover text color to a shade of gold */
  }
  /* Footer */
footer {
    background-color: #333333;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    padding: 0px 10px;
  }
  
  footer a:hover {
    color: #e6b800; 
  }
  
  /* Footer Info */
  .footer-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 7vh;
    text-align: center;
  }
  .footer-info h2 {
    padding-bottom: 10px;
  }
  
  .footer-info p {
    margin-top: 10px;
  }
  
  .footer-info > * {
    flex: 1;
  }
  
  .footer-info h2 {
    margin: 0;
  }
  
  /* Social Media Icons */
  .social-media {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
  
  .social-media a {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s;
  }
  
  .social-media a:hover {
    color: #e6b800;
  }
  
  /* Copyright */
  .copyright {
    text-align: center;
    margin-top: 20px;
  }
