.Voorstelling {
  display: flex;
  align-items: center;
}

.VoorstellingText {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.VoorstellingImage {
  justify-content: flex-end;
  display: flex;
  margin-left: 15%;
}

.VoorstellingImage img {
  width: 520px;
  height: 520px;
  border-radius: 2%;
}

.VoorstellingInfo {
  display: inline;
  text-align: center;
}

.VoorstellingOphalen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

.VoorstellingShow {
  
}

.VoorstellingShow img {
  width: 250px;
  height: 150px;
  border-radius: 5%;
}

.VoorstellingDatum {
  width: 200px;
}

.VoorstellingTijd {
  width: 120px;
}

.VoorstellingZaal {
  width: 100px;
}

.VoorstellingButton {
  border: none;
  color: #fff;
  padding: 20px 40px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.VoorstellingRoundCorners{
  padding-top: 2%;
  height: 600px;
  width: 1000px;
  background: #333333;
  border-radius: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
}


.VoorstellingScrollbar {
  height: 95%;
  overflow-y: scroll;
  scroll-behavior:smooth;
  color: #ffffff;
}

#VoorstellingWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow:0 0 8px #333333 inset;
  border-radius: 30%;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #333333;
  border-radius: 30%;
}

#style-2::-webkit-scrollbar-thumb{
  background-color:#ad0000;
  border:1px solid #333333;
  border-radius:12px;
}
#style-2::-webkit-scrollbar-thumb:hover{
  background-color:#e6b800;
  border:1px solid #333333;
}
#style-2::-webkit-scrollbar-thumb:active{
  background-color:#e6b800;
  border:1px solid #333333;
}

.VoorstellingButton{
  cursor: pointer;
  background: linear-gradient(-135deg, #5e5e5e, #ad0000);
  transition: all 0.3s ease;
}
.VoorstellingButton:active{
  transform: scale(0.95);
}
.VoorstellingButton:hover{
  transform: scale(0.95);
  background: #e6b800;
}
